* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 80%;
}

.text {
  color: #8b8b8b;
}

.flex-center-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-center-v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.title {
  letter-spacing: 2px;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.btn {
  text-decoration: none;
  display: block;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  border-radius: 50px;
}

.btn-red {
  background-color: #EF233c;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
  color: #F6F6F6;
  border: 2px solid transparent;
}

.btn-red:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .text {
    font-size: 1.8rem;
  }
  .btn {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 4px;
  }
}

nav {
  -webkit-transition: ease-in-out all 250;
  transition: ease-in-out all 250;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .container .logo {
  margin: 1rem 0;
  letter-spacing: 4px;
  color: #F6F6F6;
  font-size: 2rem;
  font-weight: 600;
}

nav .container .logo span {
  color: #EF233c;
}

nav .container .links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 1.5rem;
}

nav .container .links li a {
  text-decoration: none;
  color: #F6F6F6;
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
}

nav .container .links li a:hover {
  color: #EF233c;
}

nav .container .links .close {
  display: none;
}

nav .container .menu {
  display: none;
}

.active-nav {
  background-color: #051821;
}

.section {
  height: 100vh;
  width: 100%;
}

.header {
  background-color: #000000;
}

.header .container {
  height: 100%;
}

.header .container .header-title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #F6F6F6;
}

.header .container .sub-title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #F6F6F6;
}

.about .container {
  text-align: center;
  height: 100%;
}

.about .container .text {
  margin-top: 2rem;
  text-transform: uppercase;
}

.about .container .btn {
  margin-top: 2rem;
}

.skills {
  background-color: #F6F6F6;
}

.skills .container {
  height: 100%;
}

.skills .container .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .container .center .skill-container .skill-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.skills .container .center .skill-container .skill-tree {
  list-style: none;
}

.skills .container .center .skill-container .skill-tree li {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.projects .container {
  height: 100%;
}

.projects .container .text {
  display: block;
  margin-top: 2rem;
}

.projects .container .projects-list {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.projects .container .projects-list .project {
  overflow: hidden;
  position: relative;
  width: 30%;
}

.projects .container .projects-list .project .project-image {
  width: 100%;
}

.projects .container .projects-list .project .project-image img {
  display: block;
  width: 100%;
}

.projects .container .projects-list .project .project-links {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  top: 100%;
  left: 0;
  -webkit-transition: ease-in-out 250ms all;
  transition: ease-in-out 250ms all;
}

.projects .container .projects-list .project .project-links .project-title {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #F6F6F6;
}

.projects .container .projects-list .project:hover .project-links {
  top: 0;
}

.contact {
  background-color: #F6F6F6;
}

.contact .container {
  height: 100%;
  gap: 2rem 0;
}

.contact .icons {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact .icons a {
  text-decoration: none;
  color: #EF233c;
  margin-right: 2rem;
}

.contact .icons a i {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  border: 2px solid #EF233c;
  font-size: 2rem;
  padding: .75rem;
  border-radius: 50px;
}

.contact .icons a i:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 1.2rem;
  letter-spacing: 4px;
}

.gotop {
  visibility: hidden;
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  background-color: #EF233c;
  cursor: pointer;
}

.gotop i {
  font-size: 2rem;
  padding: .75rem;
  color: #F6F6F6;
}

.gotop.active-btn {
  visibility: visible;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
  nav .container .menu {
    display: block;
    margin: 1rem 0;
  }
  nav .container .menu i {
    font-size: 3rem;
    color: #EF233c;
  }
  nav .container .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #051821;
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
  }
  nav .container .links li {
    margin: 1rem 0;
  }
  nav .container .links li .link-itme {
    font-size: 2rem;
  }
  nav .container .links .close {
    display: block;
    position: absolute;
    top: 5vh;
    left: 8vw;
    color: #F6F6F6;
    font-size: 2rem;
  }
  nav .container .links.open {
    left: 0;
  }
  .header .container {
    text-align: center;
  }
  .header .container .header-title {
    font-size: 4rem;
  }
  .header .container .sub-title {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .skills .container .center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .skills .container .center .skill-container .skill-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .skills .container .center .skill-container .skill-tree li {
    font-size: 2rem;
  }
  .projects {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    padding-bottom: 2rem;
  }
  .projects .container {
    text-align: center;
  }
  .projects .container .projects-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .container .projects-list .project {
    width: 100%;
  }
  .projects .container .projects-list .project .project-links .project-title {
    font-size: 2rem;
  }
  .projects .container .projects-list .project .project-links .btn {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .contact .container .btn {
    -webkit-transform: scaleX(0.6);
            transform: scaleX(0.6);
  }
}
/*# sourceMappingURL=style.css.map */