@import './_colors';
@import './general';

// styling navbar
nav {
    transition: ease-in-out all 250;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;

    .container {
        display: flex;
        justify-content: space-between;

        .logo {
            margin: 1rem 0;
            letter-spacing: 4px;
            color: $ligth-white;
            font-size: 2rem;
            font-weight: 600;

            span {
                color: $red-color;
            }
        }

        .links {

            list-style: none;
            display: flex;
            align-items: center;
            gap: 0 1.5rem;

            li a {
                text-decoration: none;
                color: $ligth-white;
                display: block;
                font-size: 1.5rem;
                text-transform: uppercase;

                &:hover {
                    color: $red-color;
                }
            }
            .close{
                display: none;
            }
        }

        .menu {
            display: none;
        }
    }
}

.active-nav {
    background-color: $light-black;
}

// styling header
.section {
    height: 100vh;
    width: 100%;
}

// header styling
.header {
    background-color: $black-color;

    .container {
        height: 100%;

        .header-title {
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 500;
            color: $ligth-white;
        }

        .sub-title {
            margin-bottom: 2rem;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 400;
            color: $ligth-white;
        }
    }
}

// about section
.about {
    .container {
        text-align: center;
        height: 100%;

        .text {
            margin-top: 2rem;
            text-transform: uppercase;
        }

        .btn {
            margin-top: 2rem;
        }
    }
}

// skills section 
.skills {
    background-color: $ligth-white;

    .container {
        height: 100%;

        .center {
            display: flex;
            width: 100%;
            justify-content: space-between;

            .skill-container {
                .skill-title {
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                    text-transform: uppercase;
                }

                .skill-tree {
                    list-style: none;

                    li {
                        font-size: 1rem;
                        margin-bottom: 1rem;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

// projects section
.projects {
    .container {
        height: 100%;

        .text {
            display: block;
            margin-top: 2rem;
        }

        .projects-list {
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            .project {
                overflow: hidden;
                position: relative;
                width: 30%;

                .project-image {
                    width: 100%;

                    img {
                        display: block;
                        width: 100%;
                    }
                }

                .project-links {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $black-color-alpha;
                    top: 100%;
                    left: 0;
                    transition: ease-in-out 250ms all;

                    .project-title {
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        color: $ligth-white;
                    }
                }

                &:hover {
                    .project-links {
                        top: 0;
                    }
                }
            }
        }
    }
}

// contact section
.contact {
    background-color: $ligth-white;

    .container {
        height: 100%;
        gap: 2rem 0;
    }

    .icons {
        width: 20%;
        display: flex;
        justify-content: space-evenly;

        a {
            text-decoration: none;
            color: $red-color;
            margin-right: 2rem;

            i {
                transition: all ease-in-out 250ms;
                border: 2px solid $red-color;
                font-size: 2rem;
                padding: .75rem;
                border-radius: 50px;

                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }
}

// styling footer
footer {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    background-color: $black-color;
    color: $white--color;
    font-size: 1.2rem;
    letter-spacing: 4px;
}

// go top button
.gotop {
    visibility: hidden;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    background-color: $red-color;
    cursor: pointer;

    i {
        font-size: 2rem;
        padding: .75rem;
        color: $ligth-white;
    }
}

.gotop.active-btn {
    visibility: visible;
}

// responcive behavier
@media screen and (max-width: 768px) {
    html {
        font-size: 8px;
    }

    nav {
        .container {
            .menu {
                display: block;
                margin: 1rem 0;

                i {
                    font-size: 3rem;
                    color: $red-color;
                }
            }

            .links {
                flex-direction: column;
                justify-content: center;
                position: fixed;
                top: 0;
                left: 100%;
                width: 100%;
                height: 100%;
                background-color: $light-black;
                transition: all ease-in-out 250ms;
                li {
                    margin: 1rem 0;

                    .link-itme {
                        font-size: 2rem;
                    }
                }
                .close{
                    display: block;
                    position: absolute;
                    top: 5vh;
                    left: 8vw;
                    color: $ligth-white;
                    font-size: 2rem;
                }
            }
            .links.open{
                left: 0;
            }
        }
    }

    .header {
        .container {
            text-align: center;

            .header-title {
                font-size: 4rem;
            }

            .sub-title {
                margin-top: 2rem;
                font-size: 2rem;
            }
        }
    }

    .skills {
        .container .center {
            flex-direction: column;
            text-align: center;

            .skill-container {
                .skill-title {
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }

                .skill-tree li {
                    font-size: 2rem;
                }
            }
        }
    }

    .projects {
        height: fit-content !important;
        padding-bottom: 2rem;
        .container {
            text-align: center;

            .projects-list {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .project {
                    width: 100%;

                    .project-links {
                        .project-title {
                            font-size: 2rem;
                        }

                        .btn {
                            transform: scale(.8);
                        }
                    }
                }
            }
        }
    }

    .contact .container {
        .btn {
            transform: scaleX(.6);
        }
    }
}